table, tr, td {
	font-size: 12px;
}
.table > tbody > tr > td {
			vertical-align: middle;
	}
.page-tab {
	clear: both;
	position: fixed;
	margin: 0;
	padding: 0;
	font-size:0
}
.page-tab > li {
	padding: 0;
	border: 1px solid white;
	clear: both;
	float: none;
	height : 45px;
	width : 100px;
	background-color: #ecedf0;
	display: inline-block;
	list-style-type: none;
	font-size: 14px;
	margin : 0;
	font-weight: 400px;
	vertical-align: middle;
	text-align: center;
	line-height: 45px;
	cursor: pointer;
}
.overflow-hide {overflow: hidden;}
.page-tab > .active {background-color: #3BBFB4;}
.page-tab > .active > span{color: white;}
.close {direction: none;margin-top: 5px; width: 14px; height: 14px;font-size: 12px; margin-right: 4px;}
.page-tab > li:hover{background-color: #3BBFB4; color: white;}
.padding-0{padding: 0;}
.padding-10{padding: 10px;}
.margin-0{margin: 0;}
.margin-10{margin: 10px;}
.mask {       
            position: absolute; top: 0px; filter: alpha(opacity=60); background-color: #777;     
            z-index: 500; left: 0px;     
            opacity:0.5; -moz-opacity:0.5;   
            width: 100%; height: 100%;  
        } 
.message-mask {
		position: absolute; top: 0px; filter: alpha(opacity=60); background-color: #777;     
            z-index: 1200; left: 0px;     
            opacity:0.5; -moz-opacity:0.5;   
            width: 100%; height: 100%;  
	}   
.dialog {
	position: fixed;
	padding: 0;
	margin: 0;
	top: 100px;
	left: 30%;
	border-radius: 4px;
	width: 40%;
	height: 500px;
	background-color: white;
	z-index: 1010;
}
.dialog-header {
	height: 49px;
	background-color: #3BBFB4;
	color: white;
	border-radius: 4px 4px 0 0;
	font-size: 16px;
	font-weight: 100;
	text-align: left;
	vertical-align: middle;
	padding: 12px;

}

.dialog-close {
	float: right;
}
.dialog-container {
	width: 100%;
	height: 400px;
	margin-top: 15px;
	border: none;
}
.message-dialog {
	position: fixed;
	padding: 0;
	margin: 0;
	top: 20px;
	left: 40%;
	border-radius: 4px;
	width: 20%;
	height: 100px;
	background-color: white;
	z-index: 1500;
	border-radius: 4px 4px 0px 0px;
}
.message-dialog-header {
	width: 100%;
	height: 40px;
	background-color: #0FB492;
	padding: 10px;
	font-size: 16px;
	vertical-align: middle;
	color: white;
}
.message-dialog-message {
	padding: 20px;
	vertical-align: middle;
	font-size: 14px;
}
.message-error {
	background-color: #ec971f;
}
.table-hover-sm {
	font-size: 12px;
}
.table-hover-sm > th, tr, td{
	height: 20px;
	vertical-align: middle;
}
.navbar-right > div > ul > li {
	text-decoration: none;
	list-style: none;
	display: inline-block;
	margin: auto 10px;
	padding-left: 10px;
	padding-right: 10px;
	height: 30px;
	background-color: #0FB492;
	line-height: 30px;
	border-radius: 5px;
	color: white;
}
.navbar-right > div > ul > li > a, a:hover {
	color: white;
}
